.aboutPageTitleDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutPageTitleTexts{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}
.aboutPageTitleTexts *{
    margin: 0;
    padding: 0;
}
@media (max-width: 725px) {
    .aboutPageTitleDiv{
        flex-direction: column;
    }
    .aboutPageTitleTexts{
        align-items:center;
    }
}

.circularLandscape{
    display: inline-block;
    /*position: relative;*/
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border:3px solid var(--heroImageBorderColor);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.circularLandscape img{
    width: 100%;
    height: auto;
    margin-top: 0;
}

.techStack{
    margin-top:2rem;
}
.techStack div{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.techStack img{
    width:5rem;
    margin:1rem 0.5rem 1rem 0;
}