@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
  --menuTextColor: #36383F;
  --menubg: rgba(245,245,245,0.9);
  --blue: #4299e1;
  --menuTextColorHover: #4299e1;
  --blueOfLogo: #2F72BC;
}

[data-theme='dark'] {
  --menuTextColor: #f9f9f9;
  --menubg: rgb(54 56 63 / 90%);
  --menuTextColorHover: #4299e1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 1.4rem 0 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.iconBtn {
  background-color: var(--blueOfLogo);
  border:none;
  border-radius: 50%;
  color: white;
  padding: 0.7rem;
  cursor: pointer;
}

/* Darker background on mouse-over */
.iconBtn:hover {
  background-color: DodgerBlue;
}

.site-wrapper{

}

.content-wrapper{
  min-height: 80vh;
  /*text-align: center;*/
  padding:1rem;
}

@media (min-width: 725px) {
  .content-wrapper{
    padding: 1rem 10%;
  }
}
@media (min-width: 1100px) {
  .content-wrapper{
    padding: 1rem 20%;
  }
}

.footer-wrapper {
  text-align: center;
  margin: 1rem 0;
  padding:0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-size: 1rem;
}
.copyright a:hover{
  color:var(--blueOfLogo);
}
.social-links a{
  margin: 0 0.6rem;
  font-size: 1.3rem;
}
.social-links a:hover{
  color:var(--blueOfLogo);
}


/**********************
Menu & Hamburger Menu
***********************/

/* Header */
.header{
  background-color: var(--menubg);
  position: sticky;
  top: 0;
  width: 100%;
  border-top: 0.6rem solid var(--blueOfLogo);
  box-shadow: 1px 1px 5px 0px #ECEFF1;
}

/* Logo */
.logo{
  display: inline-block;
  font-size: 60px;
  margin-left: 2rem;

}

/* Nav menu */
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--menubg);
  overflow: hidden;
  max-height: 0;
  transition: max-height .3s ease-in-out;
  display:flex;
  justify-content: center;
  align-items: center;
}

.menu{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;

  top: -10%;
  position: relative;
}

.menu li{
  padding: 5px 5px;
}
.menu li a{
  padding: 1rem 1rem;
  font-weight: 600;
  font-size: 2.7rem;
}

.menu a{
  display: block;
  padding: 0;
  color: var(--menuTextColor);

}

.menu a:hover{
  background-color: var(--menuTextColorHover);
  color:white;
}

/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: var(--blue);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after{
  background: var(--blue);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before{
  top: 5px;
}

.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:99px;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

/* Responsiveness */
@media (min-width: 725px) {
  .header{
    padding: 0 2rem;;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    margin: 0;
  }

  .nav{
    min-height: 4rem;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: unset;
  }

  .menu{
    flex-direction: row;
  }

  .menu li{
    padding: 0 5px;
  }
  .menu li a{
    padding: 0 1rem;
    font-size: 1.1rem;
  }

  .menu a:hover{
    background-color: transparent;
    color: var(--menuTextColorHover);
  }

  .hamb{
    display: none;
  }
}